# Python / Backend
.env
__pycache__/
*.pyc
*.db
gp_database.db
venv/
.DS_Store
nhs_index.faiss


# Node / Frontend
frontend/gp-chatbot-ui/node_modules/
frontend/gp-chatbot-ui/build/
frontend/gp-chatbot-ui/.env
frontend/gp-chatbot-ui/.env.local

# macOS
.DS_Store
